.results-wrapper {
    height: 70vh;
    overflow-y: auto;

    &.has-pagination {
        height: unset;
        overflow-y: unset;

        .user-row {
            img {
                height: 50px;
                width: 50px;
                margin-right: 15px;
            }
        }
    }

    .user-row {
        img {
            height: 200px;
            width: 200px;
            margin-right: 15px;
        }
    }
}